.firstOne{
    display: flex;
    flex-direction: row;
    height: 1500px;
}
.firstTwo{
    width: 70%;
    height: 100%;
    background-color: azure;
    padding: 40px;
}
.firstThree{
    width: 30%;
    height: 100%;
    background-color: antiquewhite;
}